aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
Deprecated==1.2.10
discord.py==1.4.1
idna==2.10
multidict==4.7.6
pycurl==7.43.0.5
PyGithub==1.52
PyJWT==1.7.1
pytz==2020.1
requests==2.23.0
saucenao-api==2.1.1
six==1.15.0
typing-extensions==3.7.4.2
urlgrabber==4.1.0
urllib3==1.25.10
wrapt==1.12.1
yarl==1.5.1
